# =========================================================
# HEvent - Global Gitignore
# =========================================================

# Node
**/node_modules/

# ---------------------------------------------------------
# Environment / Secrets
# ---------------------------------------------------------
.env
.env.*
!.env.example

# ---------------------------------------------------------
# IntelliJ / WebStorm
# ---------------------------------------------------------
.idea/
**/.idea/

*.iml
**/*.iml

*.iws
*.ipr

# IntelliJ workspace
workspace.xml
tasks.xml
usage.statistics.xml
dictionaries/
shelf/

# ---------------------------------------------------------
# VS Code
# ---------------------------------------------------------
.vscode/
**/.vscode/

*.sqlite
*.sqlite3
*.db

# PostgreSQL dumps
*.sql.gz
*.dump

